
name: CreateReleasebranch

on:
  workflow_dispatch:

jobs:

  build:

    runs-on: windows-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Set github info
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "GitHub Actions"

      - name: Run Python script
        run: python Kod1016/CreateReleaseBranch.py ${{ secrets.PAT }}
